@model Sprint

@{
    Layout = "UserLayout";
    ViewData["Title"] = $"Sprint - {Model.Name}";
}

<div class="container secondary rounded box-shadow border border-dark text-white"
     style="margin-top: 20px; margin-bottom: 20px; padding-top: 20px; padding-bottom: 20px;">
    <h3 class="text-center" style="padding-bottom: 20px;">
        Sprint Dashboard
    </h3>
</div>

<br />

<div class="row">
    <div class="col-sm">
        <div class="container secondary rounded box-shadow border border-dark text-white"
             style="margin-top: 20px; margin-bottom: 20px; padding-top: 20px; padding-bottom: 20px;">
            <h3 class="text-center">
                Items
            </h3>
        </div>
        <div class="row">
            @if (ViewBag.Items.Count > 0)
            {
                @foreach (var item in ViewBag.Items)
                {
                    <div class="col-sm justify-content-center">
                        <div class="card secondary" style="width: 18rem;">
                            <div class="card-body text-center text-white">
                                <h5 class="card-title">
                                    <a asp-controller="User" asp-action="Item" asp-route-id="@item.Id"
                                       data-toggle="tooltip" title="View Item" class="text-white">
                                        @item.Name
                                    </a>
                                </h5>
                                @if (item.Status == ItemStatus.Pending)
                                {
                                    <span class="badge badge-secondary">Pending</span>
                                }
                                else if (item.Status == ItemStatus.InProgress)
                                {
                                    <span class="badge badge-primary">In Progress</span>
                                }
                                else if (item.Status == ItemStatus.Blocked)
                                {
                                    <span class="badge badge-danger">Extended</span>
                                }
                                else if (item.Status == ItemStatus.Complete)
                                {
                                    <span class="badge badge-success">Completed</span>
                                }
                                <br/>
                                <p class="card-text border-top border-light" style="margin-top: 20px; padding-top: 20px;">
                                    @item.Description
                                </p>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="card secondary" style="width: 18rem;">
                    <div class="card-body text-center text-white">
                        <h5 class="card-title">No Items Found</h5>
                        <p class="card-text">
                            If you believe this is an error please contact your site administrator.
                        </p>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-sm-4" style="margin-left: 20px;">
        <div class="container secondary rounded box-shadow border border-dark text-white"
             style="margin-top: 20px; margin-bottom: 20px; padding-top: 20px; padding-bottom: 20px;">
            <h3 class="text-center border-bottom border-light" style="padding-bottom: 20px;">
                Sprint Information
            </h3>
            <table class="table table-borderless table-responsive-sm text-white">
                <tbody>
                    <tr>
                        <td>Total Tasks</td>
                        <td>@ViewBag.Tasks</td>
                    </tr>
                    <tr>
                        <td>Pending Tasks</td>
                        <td>@ViewBag.PendingTasks</td>
                    </tr>
                    <tr>
                        <td>In Progress Tasks</td>
                        <td>@ViewBag.InProgressTasks</td>
                    </tr>
                    <tr>
                        <td>Blocked Tasks</td>
                        <td>@ViewBag.BlockedTasks</td>
                    </tr>
                    <tr>
                        <td>Completed Tasks</td>
                        <td>@ViewBag.CompletedTasks</td>
                    </tr>
                    @if (User.IsInRole("Maintainer") || User.IsInRole("Administrator"))
                    {
                        <tr>
                            <td>
                                <a class="btn btn-warning" asp-action="CreateItem"
                                   data-toggle="tooltip" title="Create Item">
                                    <i class="fas fa-plus"></i>
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-warning" asp-action="EditSprint" asp-route-id="@Model.Id"
                                   data-toggle="tooltip" title="Edit Sprint">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@foreach (var item in ViewBag.Items)
{

}